# Unity Build files to ignore
src/main/resources/static/unity/Build/*.data
src/main/resources/static/unity/Build/*.wasm
out/production/resources/static/unity/Build/*.data
out/production/resources/static/unity/Build/*.wasm
