<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="author" content="">   
    
    <!-- css -->
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/swiper/css/swiper.css">

    <!-- script -->
    <script src="./assets/scripts/jquery-3.1.1.min.js"></script>
    <script src="./assets/scripts/script.js"></script>
    <script src="./assets/swiper/js/swiper.js"></script>
    
</head>
<body>
    <header>
        <div class="wrap">
            <div class="header_left">
                <div class="logo">
                    <a href="./index.html">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="header_right">
                <div class="login_after">
                    <p>이미 회원이신가요?</p>
                    <a href="./login.html">로그인</a>
                </div>
                <!-- <div class="login_after">
                    <p>회원이 아니신가요?</p>
                    <a href="./sign_up.html">회원가입</a>
                </div> -->
                <!-- <div class="login_before">
                    <div class="create">
                        <a href="#none" class="modal_step_open" modal_step="Create">만들기</a>
                    </div>
                    <div class="user dropdown">
                        <p>이현지</p>
                        <i style="background: url('./assets/images/i_user.svg') no-repeat center; background-size: cover;">
                        </i>
                    </div>
                    <div class="drop_con">
                        <div class="drop_top">
                            <div class="txt">
                                <h5>이현지</h5>
                                <p>leehjs2@gmail.com</p>
                            </div>
                            <div class="logout">
                                <a href="./login.html">
                                    로그아웃
                                </a>
                            </div>
                        </div>
                        <div class="drop_bottom">
                            <ul class="list">
                                <li>
                                    <a href="./setting.html">
                                        <i><img src="./assets/images/i_setting.svg" alt=""></i>
                                        <p>계정설정</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </header>
    <div class="content">
        <div class="wrap">
            <div class="login type2">
                <div class="prev_btn">
                    <a href="./login.html">
                        <img src="./assets/images/i_prev.svg" alt="">
                    </a>
                </div>
                <div class="head_tit">
                    <div class="tit">
                        <h2>비밀번호 초기화</h2>
                        <p>비밀번호 초기화 링크를 받으려면 이메일 주소를 <br/>
                            입력하세요.
                        </p>
                    </div>
                </div>
                <div class="form">
                    <form action="">
                        <div class="input_wrap">
                            <h5>이메일</h5>
                            <input type="text" placeholder="Do@gmail.com" value="hgs888@naver.com">
                          </div>   
                        <div class="btn">
                            <button type="submit" class="btn_yellow">코드 받기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>