<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <title>Do 플랫폼</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="author" content="">   
    
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/swiper/css/swiper.css">

    <!-- script -->
    <script src="/assets/scripts/jquery-3.1.1.min.js"></script>
    <script src="/assets/scripts/script.js"></script>
    <script src="/assets/swiper/js/swiper.js"></script>
    
</head>
<body style="background: #dff6ff;">
    <header style="background: #dff6ff;">
        <div class="wrap">
            <div class="header_left">
                <div class="logo">
                    <a href="/">
                        <img src="/assets/images/logo_b.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="header_right">
                <div class="login_after">
                    <div class="btn">
                        <a href="/init-login" class="btn_line">로그인</a>
                    </div>
                    <div class="btn">
                        <a href="/sign-up" class="btn_yellow">가입하기</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="wrap">
            <div class="main">
                <div class="main_con">
                    <div class="txt">
                        <h2>
                            창의적인 수업을 위한<br/>
                            완벽한 도구, Do.                            
                        </h2>
                        <p>나만의 교육 게임으로 즐겁고 효과적인 수업을 만들어보세요!</p>
                        <div class="btn">
                            <a href="/sign-up" class="btn_yellow">가입하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_img">
            <img class="pc_only" src="/assets/images/main.png" style="width: 100%;" alt="">
            <img class="mo_only" src="/assets/images/main_mo.png" style="width: 100%;" alt="">
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>